<div class="about">
  <h1>About</h1>
  <h3>Our mission is to find you the house of your dreams in Greece.</h3>
  <p>Our company was established in 2016 after a high demand from foreingers to buy a property in Greece.</p>
  <p> Whether you are looking for a house in the mainland or in the islands, we have a solution for you.</p>
</div>
