<div class="homepage">
  <h1>Welcome to your new Home</h1>
  <h2>Find houses and property in Greece</h2>
  <p>Search through hundread of options and make your dream come true.</p>
  <div class="img_greece">
    <%= image_tag("greece.jpg", size: "800x600", class: "img-responsive") %>
  </div>
</div>
