h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.houses {
  margin-top: 50px;
}

#house p {
  margin-top: 10px;
  margin-left: 0px
}

.houseprice {
  font-weight: bold;
  margin-bottom: 5px;
}
